//params
$columns_count : 50
$column_with : 20px


//container
.container_#{$columns_count}
	width: $columns_count * $column_with
	margin:
		left: auto
		right: auto

.clear-grid
	clear: left


//grids
@for $i from 1 through $columns_count
	.container_#{$columns_count}
		.grid_#{$i}
			width: $column_with * $i
			@if $i == 1
				float: left
				display: inline
			@else
				@extend .grid_1


//inner prefix, inner suffix
@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.iprefix_#{$i}
			padding-left: $column_with * $i

@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.isuffix_#{$i}
			padding-right: $column_with * $i


//outer prefix, outer suffix
@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.prefix_#{$i}
			margin-left: $column_with * $i

@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.suffix_#{$i}
			margin-right: $column_with * $i


//push, pull
@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.pull_#{$i}
			right: $column_with * $i
			@if $i == 1
				position: relative
			@else
				@extend	.pull_1	

@for $i from 1 through ($columns_count - 1)
	.container_#{$columns_count}
		.push_#{$i}
			left: $column_with * $i	
			@if $i == 1
				position: relative
			@else
				@extend	.push_1	

